<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/cars</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password">password</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="hibernate.cache.use_query_cache">false</property>
        <mapping class="many.model.Car" />
        <mapping class="many.model.Brand" />
        <mapping class="manytomany.address.Address" />
        <mapping class="manytomany.address.Person" />
        <mapping class="manytomany.books.Book" />
        <mapping class="manytomany.books.Writer" />
        <mapping class="lazy.tasks.Task" />
        <mapping class="lazy.tasks.Category" />
        <mapping class="lazy.cars.Model" />
        <mapping class="lazy.cars.CarBrand" />
        <mapping class="hql.Candidate" />
        <mapping class="hql.Vacancy" />
        <mapping class="hql.VacancyDB" />
    </session-factory>
</hibernate-configuration>